<div class="container-fluid myFooter">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://udemedellin.edu.co/" class="nav-link px-2">UdeM</a></li>
      <li class="nav-item"><a href="https://biblioteca.udemedellin.edu.co/" class="nav-link px-2">Biblioteca</a></li>
      <li class="nav-item"><a href="https://biblioteca.udemedellin.edu.co/preguntas-frecuentes/" class="nav-link px-2">FAQs</a></li>
    </ul>
    <p class="text-center">&copy; 2021 JEDIS</p>
  </footer>
</div>