<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #455d7a"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="container-sm">
        <a class="navbar-brand" href="#">
          <img src="css/img/logoB.png" class="logo" />
        </a>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-3">
        <li class="nav-item" style="width: 80px;">
          <a class="nav-link" aria-current="page" href="/Admin">Home</a>
        </li>
        <li class="nav-item" style="width: 100px;">
          <a class="nav-link" href="/Reportes">Reportes</a>
        </li>
        <li class="nav-item" style="width: 100px;">
            <a class="nav-link" href="#">Gráficos</a>
          </li>
        <li class="nav-item" style="width: 100px;">
          <a class="nav-link" href="/registrousuarios">Usuarios</a>
        </li>
        <li class="nav-item" style="width: 150px;">
            <a class="nav-link" href="/Sesion">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
