<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html'); %>
    <title>Home</title>
</head>
<body class="letra">
    <%- include('partials/headerAdmin.html'); %>
    <div class="container reportes">
        <div class="row row-cols-2 justify-content-sm-center">
          <div class="col" id="report">
            <div class="fs-2 op">
                <figure>
                    <img src="css/img/bienvenida.png">
                    <figcaption>¡BIENVENIDO!</figcaption>
                </figure>
            </div>
            <br />       
          </div>
      </div>
    
</body>
</html>