<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html'); %>
    <title>Servicio de Préstamos</title>
</head>
<body>

    <%- include('partials/header.html'); %>

    <div class="letra titulo" style="text-align-last: center">
        <p>
        <h1>SERVICIO DE PRÉSTAMOS</h1>
        <p>
    </div>
    <section class="contenedor_borde letra">
        <div class="modal-dialog  modal-lg">
            <div class="container-sm main-section navbar-brand">
                <form method="POST" class="encuesta" action="/Prestamo">
                    <div class="container-sm modal-content miconteiner">
                        <div class="salir">
                            <a href="/Inicio"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                              </svg></a>
                        </div>
                        <p>Seleccione el tipo de usuario</p>
                            <select class="form-select mytype" aria-label="Default select example" name="tipo">
                                <option selected>Tipo de usuario</option>
                                <option value="1">Estudiante</option>
                                <option value="2">Docente</option>
                                <option value="3">Investigador</option>
                                <option value="4">Empleado</option>
                                <option value="5">Externo</option>
                            </select><br>
                        <p>Califique según su satisfacción</p><br>
                            
                        <h5>1. Atención por parte del personal de la unidad</h5>
                        <div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="atencionp" id="v1" value="1">
                                    <i class="bi bi-emoji-angry"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="atencionp" id="v2" value="2">
                                    <i class="bi bi-emoji-frown"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="atencionp" id="v3" value="3">
                                    <i class="bi bi-emoji-neutral"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="atencionp" id="v4" value="4">
                                    <i class="bi bi-emoji-smile"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="atencionp" id="v5" value="5">
                                    <i class="bi bi-emoji-laughing"></i>
                                </label>
                            </div>      
                        </div><br>
                        <h5>2. Procedimiento de préstamo</h5>
                        <div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="procesop" id="v1" value="1">
                                    <i class="bi bi-emoji-angry"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="procesop" id="v2" value="2">
                                    <i class="bi bi-emoji-frown"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="procesop" id="v3" value="3">
                                    <i class="bi bi-emoji-neutral"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="procesop" id="v4" value="4">
                                    <i class="bi bi-emoji-smile"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="procesop" id="v5" value="5">
                                    <i class="bi bi-emoji-laughing"></i>
                                </label>
                            </div>      
                        </div><br>
                        <h5>3. Disponibilidad de libros</h5>
                        <div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="disponibilidad" id="v1" value="1">
                                    <i class="bi bi-emoji-angry"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="disponibilidad" id="v2" value="2">
                                    <i class="bi bi-emoji-frown"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="disponibilidad" id="v3" value="3">
                                    <i class="bi bi-emoji-neutral"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="disponibilidad" id="v4" value="4">
                                    <i class="bi bi-emoji-smile"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="disponibilidad" id="v5" value="5">
                                    <i class="bi bi-emoji-laughing"></i>
                                </label>
                            </div>      
                        </div><br>
                        <h5>4. Estado de los libros</h5>
                        <div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="estadoLibros" id="v1" value="1">
                                    <i class="bi bi-emoji-angry"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="estadoLibros" id="v2" value="2">
                                    <i class="bi bi-emoji-frown"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="estadoLibros" id="v3" value="3">
                                    <i class="bi bi-emoji-neutral"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="estadoLibros" id="v4" value="4">
                                    <i class="bi bi-emoji-smile"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="estadoLibros" id="v5" value="5">
                                    <i class="bi bi-emoji-laughing"></i>
                                </label>
                            </div>      
                        </div><br>
                        <h5>5. Actualidad de los recursos</h5>
                        <div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="actualidad" id="v1" value="1">
                                    <i class="bi bi-emoji-angry"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="actualidad" id="v2" value="2">
                                    <i class="bi bi-emoji-frown"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="actualidad" id="v3" value="3">
                                    <i class="bi bi-emoji-neutral"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="actualidad" id="v4" value="4">
                                    <i class="bi bi-emoji-smile"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="actualidad" id="v5" value="5">
                                    <i class="bi bi-emoji-laughing"></i>
                                </label>
                            </div>      
                        </div><br>
                        <h5>6. Dotación</h5>
                        <div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="dotacion" id="v1" value="1">
                                    <i class="bi bi-emoji-angry"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="dotacion" id="v2" value="2">
                                    <i class="bi bi-emoji-frown"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="dotacion" id="v3" value="3">
                                    <i class="bi bi-emoji-neutral"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="dotacion" id="v4" value="4">
                                    <i class="bi bi-emoji-smile"></i>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label>
                                    <input class="form-check-input" type="radio" name="dotacion" id="v5" value="5">
                                    <i class="bi bi-emoji-laughing"></i>
                                </label>
                            </div>      
                        </div>
                        
                        
                        <div class="container-sm">
                            <label for="comentarios" class="form-label">Comentarios o sugerencias</label>
                            <textarea class="form-control" id="comentarios" name="comentarios" rows="5"></textarea>
                        </div>
                        <div class="mb-3"> 
                            <br>             
                              <input id="myButton" class="btn btn-primary botonE" type="submit" value="Enviar"/>
                          </div>
                    </div>
                </form>     

            </div>   

        </div>
    </section>
</body>
</html>