<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html'); %>
    <title>¡Gracias!</title>
</head>
<body class="letra">
    <%- include('partials/header.html'); %>
    <section class="contenedor_borde letra respuesta">
        <div class="modal-dialog  modal-lg">
            <div class="container-sm main-section navbar-brand ">
                <div class="container-sm modal-content" id="conRespuesta">
                    <div class="salir">
                        <a href="/Inicio"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                          </svg></a>
                    </div>
                    <h3>¡Gracias por tu calificación!</h3>
                    <h4>Tus comentarios nos ayudan a mejorar.</h4>
                </div>
                
            </div>   
        </div>
    </section>
    <%- include('partials/footer.html'); %>
</body>
</html>